body {
    margin: 0;
    background-color: rgb(50, 76, 101);
}

header {
    background-color: rgb(206, 234, 255);
    padding: 40px;
    margin-bottom: 40px;
}

header > nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 1rem 2rem;
    background-color: rgb(50, 76, 101);
    border: 1px solid black;
    border-radius: 10px;
    color: white;
}

button:hover {
    background-color: rgba(50, 76, 101, 0.405);
    color: black;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    background-color: aliceblue;
    max-width: 900px;
    /* Why does this center the thing? */
    margin: auto;
}

#content > div {
    background-color: rgb(206, 234, 255);
    padding: 1rem 4rem;
    border-radius: 2rem;
    margin: 20px;
}
